@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Abril Fatface', cursive;
}
header{
  padding-bottom: 20px;
  border-bottom: rgb(36, 36, 131) 5px solid;
  background: burlywood;
}
body{
  background:#046564;
}
#banner{
  text-align: center;
 
  
}
#rate{ 
  padding-top: 20px;
 text-align: center;
 float:right;
}
#bookmarks{
  padding-top: 20px;
  text-align: center;
}
li{
  list-style: none;
  
}
.title{
  padding-bottom: 10px;
}

.box-1{
  margin:auto;
  padding-top: 10px;
  margin-bottom:20px;
  max-width: 500px;
  border:2px #710b16 solid;
  border-radius: 20%;
  background: none!important;

}
.hidden{
  display: none!important;
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: yellow;
}